body{
    background-image: url(images/background.jpg);
}
.header-image, .footer-image{
    width: 100%;
    height: 100%;
}
.nav-bar{
    text-align: center;
    margin-top: 14px;
}
.footer-image{
    margin-bottom: -5px;
}
.butterfly-image, .html-image{
     width: 300px;
     height: 200px;
     border: 5px solid black;
     float: right;
}
.sea-image, .java-image{
     width: 300px;
     height: 200px;
     border: 5px solid black;
     float: left;

}
.centerr{
    text-align: center;
}
.img-color{
    color: rgb(2, 139, 139);

}
.image-gallery{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.gallery-image{
    border: 5px solid blue;
    height: 200px;
    width: 265px;
    margin: 5px;
}



h1{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
h2{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
u{
    text-decoration: underline;
}
